<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/public/jquery-2.1.0.min.js"></script>
    <script src="/public/lodash.min.js"></script>
    <script src="/public/backbone-min.js"></script>
    <style>
    .month .day {
      cursor: pointer;
    }
    #months.disabled {
      color: gray;
    }
    #months.disabled .month .day {
      cursor: inherit;
    }
    </style>
  </head>
  <body>
    <div id="data" data-event-id="{{id}}"></div>
    <div id="error"></div>
    <div>
      <h2 id="name" contenteditable="true"></h2>
      <p id="description" contenteditable="true"></p>
    </div>
    <div id="participants">
      <div id="new-participant">I'm new:</div>
    </div>
    <div id="months" class="disabled">
    </div>
    <script src="/public/event.js"></script>
  </body>
</html>
